!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title
      GrilloPress#{' - ' + current_article.title unless current_article.nil?}
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    = stylesheet_link_tag 'main'
    = javascript_include_tag 'main'
  %body.index
    %main.container{:role => "main"}
      %section
        = yield
    %footer.container
      %p
        Copyright 2017 Andrew Duckworth
        |
        = link_to "@AndrewDuck_", "https://twitter.com/AndrewDuck_"
